@import "bootstrap";

body {
	nav {
		margin-bottom: .2em;
	}
	
	div {
		.container-fluid;
		
		.list {
			width: 100%;
		
			.header span {
				font-weight: bold;
			}
			
			.device, .user {
				.row;
				
				.model {
					width: 200px;
				}
				
				span {
					display: inline-block;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			
			.device {
				.version {
					width: 160px;
				}
				
				.dateCreated {
					width: 100px;
				}
				
				.action {
					width: 80px;
					float: right;
				}
			}
			
			.user {
				.name {
					width: 160px;
				}
				
				.email {
					width: 200px;
				}
			}
		}
	}
	
	.list div:hover {
		background-color: #e0f0ff;
	}

	.list div.selected {
		background-color: #bbd8ff;
	}
			
	.input-group {
		width: 235px;
		
		.glyphicon {
			top: auto;
			cursor: pointer;
		}
	}
}